.hero {
  --hero-border-color: var(--skeleton-color-border-neutral-extra-subdued);
  --hero-background-color: var(--skeleton-color-bg-neutral-extra-subdued);

  --hero-size-block-default: 350px;
  --hero-size-block-medium: 500px;
  --hero-size-block-tall: 650px;
}

.hero {
  --hero-size-block: var(--hero-size-block-default);

  position: relative;
  display: flex;
  flex-direction: column-reverse;
  min-inline-size: 100%;
  block-size: auto;
  min-block-size: var(--hero-size-block);
  background-color: var(--hero-background-color);
  margin-block-end: 2rem;

  &__image {
    position: relative;
    overflow: hidden;
    flex: 1;

    &::after {
      position: relative;
      display: block;
      content: "";
      width: 100%;
      height: 100%;
      padding-block-start: calc(var(--hero-size-block-default) * 0.5);
    }

    img {
      object-fit: cover;
      object-position: top center;
      inline-size: 100%;
      block-size: 100%;

      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
    }
  }

  &__content {
    position: relative;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
  }

  &__content-inner {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    inline-size: 100%;
  }

  &__heading {
    font-weight: 700;
    font-style: normal;
    font-optical-sizing: auto;
    margin-block-start: 0;
    margin-block-end: 1rem;
  }

  &__text {
    font-size: var(--skeleton-size-text-med);
    font-weight: 400;
    /* ⬇ limit vertical text ⬇ */
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    line-clamp: 6;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  @media (max-width: 992px) {
    .hero__text {
      -webkit-line-clamp: unset;
      line-clamp: unset;
    }
  }

  /*** VARIANTS - style ***/
  &--style-fancy {

    .hero__content-inner {
      padding-block-start: 3rem;
    }

    .hero__content::before {
      position: absolute;
      top: 0;
      margin: auto;
      height: 2.75rem;
      width: 2.75rem;
      padding: 0.5rem;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      font-size: 2.25rem;
      line-height: 1;
      color: var(--skeleton-color-fg-base);
      font-family: "FontAwesome";
      content: "\f54c";
      background-color: var(--hero-background-color);
      border-radius: 100%;
      border: 2px solid var(--hero-border-color);
      transform-origin: 50% 50%;
      transform: translateY(-50%);
    }

    &.hero--layout-diptych {

      .hero__content-inner {
        padding-inline-end: 3rem;
      }

      .hero__content::before {
        left: auto;
        right: 0;
        bottom: 0;
        transform: translateX(50%);
      }

      @media (max-width: 992px) {
        & {
          .hero__content::before {
            bottom: auto;
            left: 0;
            transform: translateY(-50%) translateX(-1.75rem);
          }
        }
      }
    }
  }

  /*** VARIANTS - layouts ***/
  &--layout-diptych {
    flex-direction: row;

    .hero__image {
      display: flex;
      flex: 1;
      justify-content: stretch;
      align-items: stretch;
    }

    .hero__content {
      flex: 0 0 50%;
      max-inline-size: 50%;
      align-items: flex-end;
    }

    .hero__content-inner {
      max-inline-size: 650px;
    }

    @media (max-width: 992px) {
      & {
        flex-direction: column-reverse;
        justify-content: flex-start;

        .hero__content {
          flex: 0 0 100%;
          max-inline-size: 100%;
          align-items: flex-start;
          flex-grow: 0;
          flex-basis: 0;
        }

        .hero__content-inner {
          max-inline-size: unset;
        }
      }
    }
  }

  /*** VARIANTS - text alignment ***/
  &--text-align-start {
    text-align: start;
  }

  &--text-align-end {
    text-align: end;
  }

  &--text-align-center {
    text-align: center;
  }

  /*** VARIANTS - color theme ***/
  &--theme-primary {
    --hero-border-color: var(--skeleton-color-border-primary);
    --hero-background-color: var(--skeleton-color-bg-primary);
  }

  /*** VARIANTS - hero height ***/
  &--height-medium {
    --hero-size-block: var(--hero-size-block-medium);
  }

  &--height-tall {
    --hero-size-block: var(--hero-size-block-tall);
  }
}
