.hero {
  --hero-border-color: var(--skeleton-color-border-neutral-extra-subdued);
  --hero-background-color: var(--skeleton-color-bg-neutral-extra-subdued);
  
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  inline-size: 100%;
  background-color: var(--hero-background-color);
  
  &__image {
    position: relative;
    
    img {
      inline-size: 100%;
      block-size: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
  
  &__content {
    position: relative;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1;
  }
  
  &__heading {
    font-weight: 700;
    font-style: normal;
    font-optical-sizing: auto;
    margin-block-start: 0;
    margin-block-end: 0.5rem;
  }
  
  &__text {
    font-size: var(--skeleton-size-text-med);
    font-weight: 400;
  }
  
  
  /*** VARIANTS - style ***/
  &--style-fancy {
    .hero__content {
      padding-inline-start: 6rem;
    }
    
    .hero__content::before {
      position: absolute;
      top: 0;
      left: 0;
      margin: auto;
      height: 2.75rem;
      width: 2.75rem;
      padding: 0.5rem;
      margin: auto;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      font-size: 2.25rem;
      line-height: 1;
      color: var(--skeleton-color-fg-base);
      font-family: "FontAwesome";
      content: "\f54c";
      background-color: var(--hero-background-color);
      border-radius: 100%;
      border: 2px solid var(--hero-border-color);
      transform-origin: 50% 50%;
      transform: translateY(-50%) translateX(1.75rem);
    }
    
    &.hero--layout-diptych {
      .hero__content {
        padding-inline-start: 4rem;
      }
      
      .hero__content::before {
        transform: translateX(-50%) translateY(1.75rem);
      }
      
      @media (max-width: 992px) {
        & {
          .hero__content::before {
            transform: translateY(-50%) translateX(1.75rem);
          }
        }
      }
    }
  }
  
  /*** VARIANTS - layouts ***/
  &--layout-diptych {
    flex-direction: row-reverse;
    
    .hero__content {
      flex: 0 0 50%;
      max-inline-size: 50%;
    }
    
    @media (max-width: 992px) {
      & {
        flex-direction: column;
        
        .hero__content {
          flex: 0 0 100%;
          max-inline-size: 100%;
        }
      }
    }
  }
  
  /*** VARIANTS - text alignment ***/
  &--text-align-start {
    text-align: start;
  }
  
  &--text-align-end {
    text-align: end;
  }
  
  &--text-align-center {
    text-align: center;
  }
  
  /*** VARIANTS - color theme ***/
  &--theme-primary {
    --hero-border-color: var(--skeleton-color-border-primary);
    --hero-background-color: var(--skeleton-color-bg-primary);
  }
}