{%
  set classes = [
    'hero',
    variant and variant != 'default' ? 'hero--' ~ variant,
    theme ? 'hero--' ~ theme,
    layout ? 'hero--' ~ layout,
    text_alignment and text_alignment != 'default' ? 'hero--' ~ text_alignment,
    height and height != 'default' ? 'hero--' ~ height,
  ]
%}



{% if heading or image or text %}
  <div{{attributes.addClass(classes)}}>
    <div class="hero__content">
      <div class="hero__content-inner">
        <div class="hero__heading">
          {{ heading }}
        </div>

        <div class="hero__text">
          {{ text }}
        </div>
      </div>
    </div>

    {% if image %}
      <div class="hero__image">
        {{ image }}
      </div>
    {% endif %}
  </div>
{% endif %}
