{%
  set classes = [
    'hero',
    variant and variant != 'default' ? 'hero--' ~ variant,
    theme ? 'hero--' ~ theme,
    layout ? 'hero--' ~ layout,
    text_alignment and text_alignment != 'default' ? 'hero--' ~ text_alignment,
    height and height != 'default' ? 'hero--' ~ height,
  ]
%}



<div{{attributes.addClass(classes)}}>
  <div class="hero__content">
    <div class="hero__content-inner">

      {% if heading %}
        <div class="hero__heading">
          {{ heading }}
        </div>
      {% endif %}

      {% if text.0 %}
        <div class="hero__text">
          {{ text }}
        </div>
      {% endif %}
    </div>
  </div>

  {% if image.0 %}
    <div class="hero__image">
      {{ image }}
    </div>
  {% endif %}
</div>
