/*** Time Variables ***/
.time {
  --skeleton-color-fg-time: var(--skeleton-color-fg-subdued);
  --skeleton-size-text-time: var(--skeleton-size-text-small);
}
/*** Time Styles ***/
.time {
  color: var(--skeleton-color-fg-time);
  font-size: var(--skeleton-size-text-time);
  font-weight: 500;
  border-inline-start: 2px solid var(--skeleton-color-border-neutral-subdued);
  padding-inline-start: 0.5rem;
  margin-inline-start: 0.25rem;
}