/*** Download Group Variables ***/
.download-group {
  --skeleton-padding-download-group: 1.25rem;
  --skeleton-color-bg-download-group: var(--skeleton-color-bg-neutral-extra-subdued);
  --skeleton-border-radius-download-group: var(--skeleton-size-radius-sm);
  --skeleton-color-shadow-download-group: var(--skeleton-color-shadow-neutral);
}

/*** Download Group Styles ***/
.download-group {
  padding: var(--skeleton-padding-download-group);
  background-color: var(--skeleton-color-bg-download-group);
  border-radius: calc(var(--skeleton-border-radius-download-group) + (var(--skeleton-padding-download-group) * 0.5));
  filter: drop-shadow(0 2px 6px var(--skeleton-color-shadow-download-group));
  
  /* add margin when in main node content */
  .field--body & {
    margin-block: 0.5rem;
  }
  
  &__title {
    font-size: 1.5rem;
    line-height: 1.1;
    margin-block-start: 0;
    margin-block-end: 1rem;
  }
  
  &__items {}
  
  .download {
    margin-block: 0.75rem;
    
    &:last-of-type {
      margin-block-end: 0;
    }
  }
}