{%
  set classes = [
    'row p-1'
  ]
%}

<span{{ attributes.addClass(classes) }}>
  {%- for item in items -%}
    {{ include ('skeleton:title', {
      content: item.content,
      html_tag: 'h2',
      size: 'L',
      variant: 'section',
    }, with_context: false) }}
  {%- endfor -%}
</span>

