<span{{ attributes }}>
  {%- for item in items -%}
  {# {{ item.content }} #}

  {# TODO - field template is the wrong place for a component #}
    {{ include ('skeleton:title', {
      content: item.content,
      html_tag: 'h2',
      size: 'L',
      variant: 'section',
    }, with_context: false) }}
  {%- endfor -%}
</span>

