
{% if primary %}
  <h2 class="visually-hidden">{{ 'Primary tabs'|t }}</h2>
  {{ include ('skeleton:tabs', {
    items: primary,
  }, with_context: false) }}
{% endif %}
{% if secondary %}
  <h2 class="visually-hidden">{{ 'Secondary tabs'|t }}</h2>
  {{ include ('skeleton:tabs', {
    items: secondary,
  }, with_context: false) }}
{% endif %}
