.figure {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  border: var(--skeleton-color-border-primary);
  margin-block: 2rem;
  
  &__image {}
  
  &__caption {
    padding: 0.25rem 0.5rem;
    font-size: var(--skeleton-size-text-small);
    color: var(--skeleton-color-fg-subdued);
  }
}