/*** Figure Variables ***/
.figure {
  --skeleton-color-border-figure: var(--skeleton-color-border-primary);
  
  --skeleton-size-text-figure: var(--skeleton-size-text-small);
  --skeleton-color-fg-figure: var(--skeleton-color-fg-subdued);
}
/*** Figure Styles ***/
.figure {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  border: var(--skeleton-color-border-figure);
}
/* add margin when in main node content */
.field--body .figure {
    margin-block: 2rem;
  }
.figure__image {
    padding: 0.5rem;
  }
.figure__caption {
    padding: 0.25rem 0.5rem;
    font-size: var(--skeleton-size-text-figure);
    color: var(--skeleton-color-fg-figure);
  }