{% set classes = [
  'figure',
  variant and variant != 'default' ? variant : ''
] %}

{% set attributes = attributes.addClass(classes|filter(v => v != '')) %}

<figure{{ attributes }}>
  <div class="figure__image">
    {{ image }}
  </div>
  <figcaption class="figure__caption">
    {{ caption }}
  </figcaption>
</figure>

