{% set classes = [
  'figure',
  variant and variant != 'default' ? variant : ''
] %}

<figure{{ attributes.addClass(classes) }}>
  <div class="figure__image">
    {{ image }}
  </div>

  {# TODO - reevaluate empty render array issue 3425818 #}
  {% if caption|render|trim %}
    <figcaption class="figure__caption">
      {{ caption }}
    </figcaption>
  {% endif %}
</figure>
