.download {
  position: relative;
  padding: 1.25rem 1.5rem;
  margin-block: 0.5rem;
  background-color: var(--skeleton-color-bg-neutral-light);
  border-radius: var(--skeleton-size-radius-sm);
}
  
  .download__icon {
    color: var(--skeleton-color-fg-primary);
    font-size: var(--skeleton-size-text-med);
    line-height: 1;
    display: inline-block;
    vertical-align: middle;
    margin-inline-end: 0.25rem;
  }