/*** Tabs Variables ***/
.tabs {
  --skeleton-color-border-tabs: var(--skeleton-color-border-neutral-subdued);
  --skeleton-width-border-tabs: 2px;
}
/*** Tabs Styles ***/
.tabs {
  position: relative;
  position: absolute;
  z-index: 2;
  display: flex;
  flex-direction: row;
  justify-self: flex-end;
  margin-block: 0.5rem;
}