/*** Tabs Variables ***/
.tabs {
  --skeleton-color-border-tabs: var(--skeleton-color-border-neutral-subdued);
  --skeleton-width-border-tabs: 2px;
}

/*** Tabs Styles ***/
.tabs {
  position: relative;
  display: flex;
  flex-direction: row;
  margin-block: 2rem;
}