{%
  set classes = [
    'card-group'
  ]
%}


<div{{ attributes.addClass(classes) }}>
  {% if cards %}
    <div class="card-group__items">
      {% for card in cards %}
        <div class="card-group__item">
          {{ card }}
        </div>
      {% endfor %}
    {% endif %}
  </div>
</div>

