/*** File Variables ***/
.file {
  --skeleton-size-text-label-file: var(--skeleton-size-text-med);
  --skeleton-size-text-filesize-file: var(--skeleton-size-text-extra-extra-small);
  --skeleton-color-fg-filesize-file: var(--skeleton-color-fg-subdued);
  --skeleton-size-text-desc-file: var(--skeleton-size-text-extra-small);
  --skeleton-color-fg-desc-file: var(--skeleton-color-fg-base);
}
/*** File Styles ***/
.file {
  position: relative;
}
.file__label {
    margin-block: 0 0.5rem;
    font-size: var(--skeleton-size-text-label-file);
    font-weight: 600;
    line-height: 1.6;
    display: inline;
    vertical-align: bottom;
    margin-inline-end: 0.25rem;
  }
.file__size {
    font-size: var(--skeleton-size-text-filesize-file);
    line-height: 1.6;
    color: var(--skeleton-color-fg-filesize-file);
    font-weight: 400;
    display: inline-block;
    vertical-align: bottom;
  }
.file__description {
    display: block;
    font-size: var(--skeleton-size-text-desc-file);
    line-height: 1.4;
    color: var(--skeleton-color-fg-desc-file);
    margin-block-start: 0.5rem;
  }