.downloads {
  padding: 1.25rem 1.5rem;
  margin-block: 0.5rem;
  background-color: var(--skeleton-color-bg-neutral-extra-light);
  border-radius: var(--skeleton-size-radius-sm);
}
  
  .downloads__title {
    font-size: 1.5rem;
    line-height: 1.1;
    margin-block-start: 1rem;
  }
  
  .downloads__items {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  
  .downloads .download {
    padding-block: 1em;
  }