.downloads {
  --downloads-padding: 1.25rem;
  
  padding: var(--downloads-padding);
  background-color: var(--skeleton-color-bg-neutral-extra-subdued);
  border-radius: calc(var(--skeleton-size-radius-sm) + (var(--downloads-padding) * 0.5));
  
  /* add margin when in main node content */
  .field--body & {
    margin-block: 0.5rem;
  }
  
  &__title {
    font-size: 1.5rem;
    line-height: 1.1;
    margin-block-start: 0;
    margin-block-end: 1rem;
  }
  
  &__items {}
  
  .download {
    margin-block: 0.75rem;
    
    &:last-of-type {
      margin-block-end: 0;
    }
  }
}