{% set classes = [
  'block',
  'block--hero-banner'
] %}

{% set attributes = attributes.addClass(classes|filter(v => v != '')) %}

<div{{ attributes }}>
  {{ include ('skeleton:hero', {
    attributes: attributes,
    heading: content.field_hero_banner_heading,
    image: content.field_hero_banner_image,
    text: content.field_hero_banner_text,
  }) }}
</div>
