.article {
  &__footer {
    margin-block: 1rem;
    font-size: var(--skeleton-size-text-small);
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
  }
}


.byline {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.25rem;
}