.article {
  &__footer {
    font-size: var(--skeleton-size-text-small);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem 1rem;
    margin-block: 1rem;
    border-block-end: 1px dotted var(--skeleton-color-border-neutral);
  }
}