/*** *** BASE RESETS *** ***/
html {
  scroll-behavior: smooth;
  accent-color: var(--skeleton-color-accent);
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
html,
body {
  margin: 0;
  padding: 0;
}
body {
  /* overflow */
  position: relative;
  overflow: hidden auto;
  
  /* fix typography rough edges */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  /* font display */
  font-optical-sizing: auto;
  font-style: normal;
  font-family: var(--skeleton-font-primary);
  
  /* color base */
  color: var(--skeleton-color-fg-base);
  background-color: var(--skeleton-color-bg-base);
  
  /* ensure footer does not cover main content */
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
*,
div {
  margin: 0;
  box-sizing: border-box;
}
pre {
  display: block;
  white-space: pre-wrap;
}
img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
  width: 100%;
  height: auto;
}