.branding {
  padding: 1rem 2rem;
  background-color: var(--skeleton-color-bg-primary);
}
  
  .branding__content {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }
  
  .branding__logo {
    inline-size: 100px;
  }
  
  .branding__sitename {
    font-family: var(--skeleton-font-serif);
    color: var(--skeleton-color-fg-base);
    font-size: 48px;
    font-weight: 500;
    line-height: 1.1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.15rem;
  }
  
  .branding__sitename a,
    .branding__sitename a:hover,
    .branding__sitename a:focus,
    .branding__sitename a:visited,
    .branding__sitename a:active {
      font-size: inherit;
      color: inherit;
    }
  
  .branding__siteslogan {
    font-size: 18px;
    color: var(--skeleton-color-fg-base);
    font-weight: 400;
  }