.field {
  padding-block: 0.5rem;
  display: flex;
  flex-flow: column nowrap;
}
  /* border-block-start: 1px dotted var(--skeleton-color-border-neutral); */

  .field__label {
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: var(--skeleton-size-text-small);
    color: var(--skeleton-color-fg-subdued);
  }

  .field__body {
    color: var(--skeleton-color-fg);
  }
