.field {
  padding-block: 0.5rem;
  display: flex;
  flex-flow: column nowrap;
  
  &__label {
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: var(--skeleton-size-text-extra-small);
    color: var(--skeleton-color-fg-subdued);
  }
}