.page {
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1;
  inline-size: 100%;
}

.layout {
  position: relative;
  inline-size: 100%;
}

.layout--banner {
    margin-block-end: 2rem;
  }

.layout--content-bottom {
    margin-block-start: 6rem;
  }

.layout--footer {
    margin: 0;
    padding: 1rem 2rem 3rem;
    background-color: var(--skeleton-color-bg-primary);
    /* display: flex;
    flex-direction: column;
    gap: 1rem; */
  }