.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  flex: 1;
}

/* placeholder */

.layout--header {
    background-color: var(--skeleton-color-bg-primary);
  }

.layout--banner {
    margin-block-end: 2rem;
  }

.layout--content-top {
    /* placeholder */
  }

.layout--content-main {
    /* placeholder */
  }

.layout--content-bottom {
    /* placeholder */
  }

.layout--footer {
    margin: 0;
    padding: 1rem;
    background-color: var(--skeleton-color-bg-primary);
  }

.block {
  position: relative;
}

.block__content {
    padding-inline-start: var(--skeleton-size-gap-x);
  }

.region {
  position: relative;
}

.region--sidebar-second {
    padding-inline-start: var(--skeleton-size-gap-x);
  }

.region--content,
  .region--sidebar {
    margin-block-start: 2rem;
  }

.region--content {
    padding-block-end: 2rem;
  }