.layout {
  position: relative;
  inline-size: 100%;
  background-color: var(--skeleton-color-bg-base);
  
  &--banner {
    margin-block-end: 2rem;
  }
  
  &--content-bottom {
    margin-block-end: 4rem;
  }
  
  &--footer {
    margin: 0;
    padding: 1rem 2rem 3rem;
    
    
    .row {
      .block {
        --col-spacing: var(--skeleton-size-gap-x);
        
        flex: 0 0 calc(33.3333% - var(--col-spacing));
        max-inline-size: calc(33.3333% - var(--col-spacing));
      }
      
      .block__content {
        p {
          font-size: var(--skeleton-size-text-small);
        }
      }
    }
  }
}