.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  flex: 1;
}

.layout {
  /* placeholder */

  &--header {
    background-color: var(--skeleton-color-bg-primary);
  }

  &--banner {
    margin-block-end: 2rem;
  }

  &--content-top {
    /* placeholder */
  }

  &--content-main {
    /* placeholder */
  }


  &--content-bottom {
    /* placeholder */
  }

  &--footer {
    margin: 0;
    background-color: var(--skeleton-color-bg-primary);
  }
}
