.node {
  &__header {
    display: flex;
    flex-direction: column-reverse;
  }
  
  &__title {
    /* placeholder node title */
  }
  
  &__body {
    /* placeholder node content */
    margin-block-end: 2rem;
  }
  
  &--feature {
    /* placeholder feature page node */
  }
}