.region {
  position: relative;
}
  
  .region--header-top {
    background-color: var(--skeleton-color-bg-primary-subdued);
  }
  
  .region--sidebar-second,
  .region--sidebar-first {
    padding-inline-start: calc(var(--skeleton-size-gap-x) * 2);
    display: flex;
    flex-direction: column;
    gap: 4rem;
    margin-block-start: 6rem;
  }
  
  .region--sidebar-second .block__content, .region--sidebar-first .block__content {
      padding-inline-start: var(--skeleton-size-gap-x);
    }
  
  @media (width <=994px) {
  
  .region--sidebar-second,
  .region--sidebar-first {
      padding-inline-start: var(--skeleton-size-gap-x);
      margin-block-start: 1rem
  }
    }