.region {
  position: relative;
  
  &--header-top {
    background-color: var(--skeleton-color-bg-primary-subdued);
  }
  
  &--sidebar-second,
  &--sidebar-first {
    padding-inline-start: var(--skeleton-size-gap-x);
    display: flex;
    flex-direction: column;
    gap: 4rem;
    margin-block-start: 4rem;
    
    .block__content {
      padding-inline-start: var(--skeleton-size-gap-x);
    }
  }
}