.sdc-styleguide-pattern {
  --c1: var(--skeleton-color-bg-base);
  --c2: var(--skeleton-color-bg-neutral-subdued);
}
  
  .sdc-styleguide-pattern .form-wrapper {
    margin-block: 3rem;
  }
  
  .sdc-styleguide-pattern .sdc-styleguide-patter__messages {
    display: none;
  }
  
  .sdc-styleguide-pattern input[type="submit"] {
    margin-block: 3rem;
  }

.sdc-styleguide-page {
  /* display: flex;
  flex-direction: row; */
  
  color: var(--skeleton-color-fg-base);
}

/** Sidebar version **/

.sdc-styleguide-page--alternate-layout {
    display: flex;
    flex-direction: row;
  }

.sdc-styleguide-page--alternate-layout .sdc-styleguide-page__explorer {
      flex: 0 0 calc(25% - var(--skeleton-size-gap-x));
      max-inline-size: calc(25% - var(--skeleton-size-gap-x));
    }

.sdc-styleguide-page--alternate-layout .sdc-styleguide-page__content {
      flex-grow: 1;
      flex-basis: 0;
    }

.sdc-styleguide-page--alternate-layout .sdc-styleguide-page__components-list {
      flex-basis: 0;
      overflow: unset;
    }

.sdc-styleguide-page__explorer {
    padding: 1.5rem;
    background: var(--skeleton-color-bg-primary);
  }

/*** Explorer - component menu ***/

.sdc-styleguide-page .sdc-styleguide-explorer__group,
    .sdc-styleguide-page .sdc-styleguide-explorer__group:first-child {
      padding: 0 0.5rem;
      border: 0;
    }

.sdc-styleguide-page .sdc-styleguide-explorer__group-title,
    .sdc-styleguide-page .sdc-styleguide-explorer h2 {
      border-block-start: 4px solid var(--skeleton-color-border-primary-inverted);
      font-size: 2rem;
      line-height: 1.11;
      padding: 0.5rem;
      color: var(--skeleton-color-fg-base);
    }

.sdc-styleguide-page .sdc-styleguide-explorer__group-title button, .sdc-styleguide-page .sdc-styleguide-explorer h2 button {
        color: unset;
      }

.sdc-styleguide-page .sdc-styleguide-explorer__group {
      margin-block-end: 2rem;
    }

.sdc-styleguide-page .sdc-styleguide-explorer__group-components {
      background: transparent;
      box-shadow: none;
      padding-inline: 1.5rem 0.5rem;
      display: flex !important;
      flex-direction: column;
      gap: 0.75rem;
    }

.sdc-styleguide-page .sdc-styleguide-explorer__component {
      padding: 0;
    }

.sdc-styleguide-page .sdc-styleguide-explorer__component-title {
      color: var(--skeleton-color-fg-base);
      font-size: 1.15rem;
      line-height: 1.11;
      font-weight: 400;
    }

/*** Not sure why this is separate ***/

.sdc-styleguide-page .sdc-styleguide__explorer-separator {
      display: none;
    }

.sdc-styleguide-page .sdc-styleguide__explorer-branding .branding__content {
        flex-direction: column;
      }

.sdc-styleguide-page .sdc-styleguide__explorer-branding .branding__sitename {
        font-size: 3rem;
      }

.sdc-styleguide-page .sdc-styleguide__explorer-branding .branding__siteslogan {
        font-size: 1.3rem;
      }