/*** Demonstrate regions ****/
.region {
  border: 0px dashed var(--skeleton-color-border-positive);
  position: relative;
}
.region::beforex {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    
    transform: translateY(-2.5rem) translateX(0.5rem) scale(2);
    
    display: inline-flex;
    justify-content: center;
    align-items: center;
    
    padding: 0.2rem 1rem;
    width: 3rem;
    min-height: 1.2rem;
    
    font-family: "Noto Sans", sans-serif;
    font-size: 0.88rem;
    line-height: 1;
    letter-spacing: 1px;
    
    border-radius: 3px;
    color: hsl(0, 0%, 100%);
    background: var(--skeleton-color-bg-positive);
    
    content: "region";
  }
/*** Demonstrate blocks ****/
.block {
  border: 0px dotted var(--skeleton-color-border-warning);
}
.block::beforex {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    
    transform: translateY(-1rem) translateX(0.5rem) scale(1.5);
    
    display: inline-flex;
    justify-content: center;
    align-items: center;
    
    padding: 0.2rem 1rem;
    width: 3rem;
    min-height: 1.2rem;
    
    font-family: "Noto Sans", sans-serif;
    font-size: 0.88rem;
    line-height: 1;
    letter-spacing: 1px;
    
    border-radius: 3px;
    color: hsl(0, 0%, 100%);
    background: var(--skeleton-color-bg-warning);
    
    content: "block";
  }