/********* BACKGROUND UTILITIES *********/
.bg-base {
  background-color: var(--skeleton-color-bg-base);
}

.bg-inverted {
  background-color: var(--skeleton-color-bg-inverted);
}

.bg-white-static {
  background-color: var(--skeleton-color-bg-white-static);
}

.bg-black-static {
  background-color: var(--skeleton-color-bg-black-static);
}

/* neutrals */
.bg-neutral {
  background-color: var(--skeleton-color-bg-neutral);
}

.bg-neutral-subdued {
  background-color: var(--skeleton-color-bg-neutral-subdued);
}

.bg-neutral-extra-subdued {
  background-color: var(--skeleton-color-bg-neutral-extra-subdued);
}


/* brand */
.bg-primary {
  background-color: var(--skeleton-color-bg-primary);
}

.bg-primary-subdued {
  background-color: var(--skeleton-color-bg-primary-subdued);
}


/* alerts */
.bg-alert-negative {
  background-color: var(--skeleton-color-bg-negative);
}

.bg-alert-warning {
  background-color: var(--skeleton-color-bg-warning);
}

.bg-alert-positive {
  background-color: var(--skeleton-color-bg-positive);
}

.bg-alert-informative {
  background-color: var(--skeleton-color-bg-informative);
}

/********* FOREGROUND UTILITIES *********/
.fg-base {
  color: var(--skeleton-color-fg-base);
}

.fg-subdued {
  color: var(--skeleton-color-fg-subdued);
}

.fg-inverted {
  color: var(--skeleton-color-fg-inverted);
}

.fg-white-static {
  color: var(--skeleton-color-fg-white-static);
}

.fg-black-static {
  color: var(--skeleton-color-fg-black-static);
}

.fg-primary {
  color: var(--skeleton-color-fg-primary);
}

.fg-primary-inverted {
  color: var(--skeleton-color-fg-primary-inverted);
}

.fg-alert-negative {
  color: var(--skeleton-color-fg-negative);
}

.fg-alert-warning {
  color: var(--skeleton-color-fg-warning);
}

.fg-alert-positive {
  color: var(--skeleton-color-fg-positive);
}

.fg-alert-informative {
  color: var(--skeleton-color-fg-informative);
}


/********* BORDER UTILITIES *********/

.border-color-base {
  border: 1px solid var(--skeleton-color-border-base);
}

.border-color-inverted {
  border: 1px solid var(--skeleton-color-border-inverted);
}

.border-color-white-static {
  border: 1px solid var(--skeleton-color-border-white-static);
}

.border-color-black-static {
  border: 1px solid var(--skeleton-color-border-black-static);
}

.border-color-neutral-dark {
  border: 1px solid var(--skeleton-color-border-neutral-dark);
}

.border-color-neutral {
  border: 1px solid var(--skeleton-color-border-neutral);
}

.border-color-neutral-subdued {
  border: 1px solid var(--skeleton-color-border-neutral-subdued);
}

.border-color-neutral-extra-subdued {
  border: 1px solid var(--skeleton-color-border-neutral-extra-subdued);
}

.border-color-primary {
  border: 1px solid var(--skeleton-color-border-primary);
}

.border-color-primary-inverted {
  border: 1px solid var(--skeleton-color-border-primary-inverted);
}

.border-color-alert-negative {
  border: 1px solid var(--skeleton-color-border-negative);
}

.border-color-alert-warning {
  border: 1px solid var(--skeleton-color-border-warning);
}

.border-color-alert-positive {
  border: 1px solid var(--skeleton-color-border-positive);
}

.border-color-alert-informative {
  border: 1px solid var(--skeleton-color-border-informative);
}