.p-05 {
  padding: calc(var(--skeleton-size-gap-x) * 0.5);
}

.p-1 {
  padding: var(--skeleton-size-gap-x);
}

.p-2 {
  padding: 2rem;
}

.m-1 {
  margin: 1rem;
}

.border-1 {
  border: 1px solid currentcolor;
}