.views-view-responsive-grid {
  margin-block: 4rem;
  gap: var(--skeleton-size-gap-x);
}
  
  .views-view-responsive-grid--horizontal {
    grid-template-columns: repeat(3, 1fr);
  }
  
  @media screen and (max-width: 992px) {
  
  .views-view-responsive-grid--horizontal {
      grid-template-columns: repeat(2, 1fr)
  }
    }
  
  @media screen and (max-width: 768px) {
  
  .views-view-responsive-grid--horizontal {
      grid-template-columns: repeat(1, 1fr)
  }
    }

.views-view-responsive-grid__item-inner {
  display: flex;
  justify-content: center;
}