.region {
  &--banner {
  /* placeholder */
  }

  &--content-top {
    padding-block: 1rem;
  }

  &--content-sidebars {
    /* placeholder */
  }

  &--content {
    /* placeholder */
  }

  &--footer {
    background-color: var(--skeleton-color-bg-primary-light);
    padding-block: 2rem;
  }
}
