.breadcrumbs {
  --breadcrumb-item-gap: 1.5rem;
  
  &__list {
    list-style: none;
    display: flex;
    flex-flow: row;
    gap: var(--breadcrumb-item-gap);
    padding: 0;
  }
  
  &__item {
    position: relative;
    font-size: var(--skeleton-size-text-small);
    
    &::after {
      position: absolute;
      top: 0;
      bottom: 0;
      margin-inline-end: 0;
      transform: translateX(calc(var(--breadcrumb-item-gap) * 0.5));
      display: inline-flex;
      justify-self: center;
      align-self: center;
      padding: 0;
      content: "\f054";
      font-family: "FontAwesome";
      font-weight: 700;
      color: var(--skeleton-color-fg-subdued);
      font-size: 75%;
    }
    
    &:last-child::after {
      display: none;
    }
  }
  
  &__link {
    position: relative;
    color: var(--skeleton-color-link-default);
    -webkit-text-decoration: 1.5px underline var(--skeleton-color-link-decoration);
    text-decoration: 1.5px underline var(--skeleton-color-link-decoration);
    font-weight: 500;
    transition: var(--skeleton-transition-link);
    line-height: 1.6;
  }
  
  &__active-page {
    font-weight: 600;
    line-height: 1.6;
  }
  
}