.details {
  background-color: var(--skeleton-color-bg-base);
  border: 2px solid var(--skeleton-color-border-neutral);
  overflow: hidden;
  
}
  
  .details__summary {
    background-color: var(--skeleton-color-bg-neutral);
    position: relative;
    padding: 0.75rem 1rem;
    font-size: 1.2rem;
    font-weight: 600;
  }
  
  .details__content {
    padding: 1.5rem;
    background-color: var(--skeleton-color-bg-base);
    font-size: 1rem;
    line-height: 1.4;
    display: block;
    overflow: hidden;
  }
  
  /* border radius only top and bottom */
  
  .details:first-of-type {
    border-start-start-radius: var(--skeleton-size-radius-sm);
    border-start-end-radius: var(--skeleton-size-radius-sm);
    border-width: 2px;
    border-block-end-width: 0.5px;
  }
  
  .details:last-of-type {
    border-end-start-radius: var(--skeleton-size-radius-sm);
    border-end-end-radius: var(--skeleton-size-radius-sm);
    border-width: 2px;
    border-block-start-width: 0.5px;
  }
  
  .details:not(:first-of-type):not(:last-of-type) {
    border-block-width: 0.5px;
    ;
  }
  
  /*** Variants ***/
  
  .details--fancy {
    border-color: var(--skeleton-color-border-primary);
  }
  
  .details--fancy .details__summary {
      background-color: var(--skeleton-color-bg-primary);
      padding-inline-start: 2.5rem;
      color: var(--skeleton-color-fg-base);
      overflow: hidden;
    }
  
  .details--fancy .details__summary::marker {
        content: " ";
      }
  
  .details--fancy .details__summary::before {
        position: absolute;
        top: 40%;
        bottom: 50%;
        left: 0.75rem;
        margin: auto;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        padding-inline: 0.25rem;
        /* width: 0.5rem;
        height: 0.5rem; */
        content: "›";
        font-size: 2rem;
        line-height: 0;
        color: currentcolor;
        transform-origin: 50% 50%;
        transition: var(--skeleton-transition-basic);
      }
  
  .details--fancy:open .details__summary::before {
        transform: rotate(90deg);
      }