/*** Navigation Variables ***/
.nav {
  --skeleton-color-text-nav-item: var(--skeleton-color-fg-base);
  --skeleton-color-text-nav-item-hover: var(--skeleton-color-fg-primary);
  --skeleton-color-border-nav-item: var(--skeleton-color-border-neutral-extra-subdued);
  --skeleton-color-action-nav-fg-icon: var(--skeleton-color-fg-primary);
  --skeleton-color-bg-subnav: var(--skeleton-color-bg-base);
  --skeleton-color-border-subnav-main: var(--skeleton-color-bg-primary-subdued);
  
  --skeleton-size-border-subnav-main: 8px;
  --skeleton-size-border-nav-list: 2px;
  --skeleton-size-nav-dropdown-icon: 1rem;
  
  --skeleton-size-border-navlink: 0px;
  --skeleton-size-radius-navlink: 4px;
  
  --skeleton-size-text-nav-level-0: 1.3rem;
  --skeleton-size-text-nav-level-1: 1rem;
  --skeleton-size-text-nav-level-2: 0.75rem;
  
  --skeleton-size-space-y-nav-item: 0.75rem;
  --skeleton-size-space-x-nav-item: 1rem;
  --skeleton-size-y-nav-item-main: 45px;
  
  --skeleton-transition-nav-icon: var(--skeleton-transition-basic);
  --skeleton-transition-nav-item: var(--skeleton-transition-basic);
  
  --skeleton-border-radius-main-nav-subnav: var(--skeleton-size-radius-med);
}
/*** Navigation Styles ***/
.nav {
  width: 100%;
  position: relative;
  
  /* end main nav */
}
/*** UL element ***/
.nav__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-size: 0;
    position: relative;
    
    display: flex;
    flex-direction: column;
    
    background-color: var(--skeleton-color-bg-subnav);
    
    transition: var(--skeleton-transition-nav-item);
  }
/* indent child lists */
.nav__list .nav__list {
      margin-inline-start: 1rem;
    }
/*** LI element ***/
.nav__item {
    margin: 0;
    padding: 0;
    list-style-type: none;
    position: relative;
    
    transition: var(--skeleton-transition-nav-item);
    color: var(--skeleton-color-text-nav-item);
    font-size: var(--skeleton-size-text-nav-level-0);
    
    box-shadow: var(--skeleton-color-border-nav-item) 0px 0.5px 0px, var(--skeleton-color-border-nav-item) 0px 0.5px 0px inset;
  }
.nav__item:marker {
      display: none;
    }
.nav__item--level-0 {
      font-size: var(--skeleton-size-text-nav-level-0);
    }
.nav__item--level-1 {
      font-size: var(--skeleton-size-text-nav-level-1);
    }
.nav__item--level-2 {
      font-size: var(--skeleton-size-text-nav-level-2);
    }
/*** Link and Subnav Toggle Element ***/
.nav__link,
  .nav__subnav-toggle {
    position: relative;
    display: inline-block;
    inline-size: 100%;
    padding: var(--skeleton-size-space-y-nav-item) var(--skeleton-size-space-x-nav-item);
    /* make space for focus indicator */
    margin-block: calc(var(--skeleton-size-focus-indicator) * 2);
    border: 0;
    outline: 0;
    background: transparent;
    text-align: start;
    line-height: 1.2;
    font-size: inherit;
    font-weight: 400;
    text-decoration: none;
    color: inherit;
    transition: var(--skeleton-transition-nav-item);
  }
/*** Focus Indicator ***/
.nav__link::after, .nav__subnav-toggle::after {
      position: absolute;
      margin: auto;
      content: "";
      left: 0;
      top: 0;
      
      inline-size: calc(100% + (var(--skeleton-size-gap-focus-indicator) * 2) + (var(--skeleton-size-border-navlink) * 2));
      block-size: calc(100% + (var(--skeleton-size-gap-focus-indicator) * 2) + (var(--skeleton-size-border-navlink) * 2));
      
      margin-block-start: calc((var(--skeleton-size-gap-focus-indicator) + var(--skeleton-size-focus-indicator) + var(--skeleton-size-border-navlink)) * -1);
      margin-inline-start: calc((var(--skeleton-size-gap-focus-indicator) + var(--skeleton-size-focus-indicator) + var(--skeleton-size-border-navlink)) * -1);
      
      border-width: var(--skeleton-size-focus-indicator);
      border-style: solid;
      border-color: var(--skeleton-color-focus-indicator);
      
      border-radius: calc(var(--skeleton-size-radius-navlink) + var(--skeleton-size-gap-focus-indicator) + var(--skeleton-size-border-navlink));
      opacity: 0;
    }
/*** Link State - Focus ***/
/* border: 2px dashed orange; */
.nav__link:focus::after, .nav__link:focus-visible::after, .nav__subnav-toggle:focus::after, .nav__subnav-toggle:focus-visible::after {
        opacity: 1;
      }
/*** Link State - Hover ***/
.nav__link:hover, .nav__subnav-toggle:hover {
      color: var(--skeleton-color-text-nav-item-hover);
    }
/*** Link State - Active ***/
/*** prevent focus from firing on click ***/
.nav__link:active:-webkit-focus-ring, .nav__link.is-active:-webkit-focus-ring, .nav__subnav-toggle:active:-webkit-focus-ring, .nav__subnav-toggle.is-active:-webkit-focus-ring {
        border-color: transparent;
        outline: none;
        box-shadow: none;
      }
/*** Button ***/
.nav__subnav-toggle {
    padding-inline-start: calc(var(--skeleton-size-nav-dropdown-icon) * 2);
    cursor: pointer;
  }
/*** dropdown indicator - points right when collapsed ***/
.nav__subnav-toggle::before {
      position: absolute;
      display: inline-flex;
      justify-self: center;
      align-self: center;
      
      padding: 0;
      margin: 0;
      top: 0;
      left: 0;
      margin-inline-start: var(--skeleton-size-space-y-nav-item);
      margin-block-start: calc((var(--skeleton-size-nav-dropdown-icon) * 0.25) + var(--skeleton-size-space-y-nav-item));
      content: "\f107";
      font-family: "FontAwesome";
      font-weight: 700;
      font-size: var(--skeleton-size-nav-dropdown-icon);
      color: var(--skeleton-color-action-nav-fg-icon);
      
      transition: var(--skeleton-transition-nav-icon);
      transform: rotate(-90deg);
    }
/************ VARIANTS ************/
/*** Variant - Collapsible ***/
.nav--collapsible .nav__subnav-wrapper {
      inline-size: 100%;
      transition: var(--skeleton-transition-nav-item);
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
.nav--collapsible .nav__subnav-wrapper > .nav__list {
        transform: translateY(-100%);
        position: absolute;
      }
/* For mouse open */
.nav--collapsible .nav__subnav-wrapper--open {
        z-index: 2;
      }
.nav--collapsible .nav__subnav-wrapper--open > .nav__list {
          block-size: auto;
          transform: none;
          position: relative;
        }
.nav--collapsible .nav__subnav-toggle--open::before {
      transform: rotate(0deg);
    }
/*** Variant - Horizontal ***/
.nav--horizontal > .nav__list {
      flex-direction: row;
      align-items: stretch;
    }
/*** Variant - Main Nav ***/
.region--header-bottom .nav--main > .nav__list {
      flex-direction: row;
      padding: var(--skeleton-size-gap-y) var(--skeleton-size-gap-x);
      background-color: transparent;
    }
.region--header-bottom .nav--main > .nav__list > .nav__item {
        border-block-end: 0;
        box-shadow: none;
      }
.region--header-bottom .nav--main > .nav__list .nav__subnav-wrapper {
      position: absolute;
      border-end-start-radius: var(--skeleton-border-radius-main-nav-subnav);
      border-end-end-radius: var(--skeleton-border-radius-main-nav-subnav);
      margin-block-start: var(--skeleton-size-gap-y);
      min-inline-size: 300px;
      clip-path: polygon(-10% 0, 110% 0, 110% 110%, -10% 110%);
    }
.region--header-bottom .nav--main > .nav__list .nav__subnav-wrapper > .nav__list {
        padding: 1rem;
        margin-inline-start: 0;
        border-block-end: var(--skeleton-size-border-subnav-main) solid var(--skeleton-color-border-subnav-main);
        box-shadow: var(--skeleton-color-border-nav-item) 0px 4px 16px, var(--skeleton-color-border-nav-item) 0px 8px 32px;
      }