/*** Accordion Variables ***/
.accordion {
  --skeleton-color-shadow-accordion: var(--skeleton-color-shadow-neutral);
}

/*** Accordion Styles ***/
.accordion {
  display: flex;
  flex-direction: column;
  filter: drop-shadow(0 2px 6px var(--skeleton-color-shadow-accordion));
  
  /* add margin when in main node content */
  .field--body & {
    margin: 1rem;
  }
}