{%
  set classes = [
    'accordion',
    variant and variant != 'default' ? 'accordion--' ~ variant,
    theme ? 'accordion--' ~ theme,
  ]
%}

<div{{ attributes.addClass(classes) }}>
  {% if items %}
   {{ items }}
  {% endif %}
</div>
