.accordion {
  display: flex;
  flex-direction: column;
  filter: drop-shadow(0 2px 6px var(--skeleton-color-shadow-neutral));
  
  /* add margin when in main node content */
  .field--body & {
    margin: 1rem;
  }
}