/*** Button Variables ***/
.button {
  --skeleton-size-block-button-medium: 40px;
  --skeleton-size-block-button-small: 30px;
  --skeleton-size-block-button-large: 60px;

  --skeleton-size-icon-button-small: 14px;
  --skeleton-size-icon-button-medium: 20px;
  --skeleton-size-icon-button-large: 30px;

  --skeleton-size-md-gap-button: .75rem;
  --skeleton-size-sm-gap-button: 0.25rem;
  --skeleton-size-border-button: 1.5px;
  --skeleton-size-radius-button: calc(var(--skeleton-size-block-button) * 0.5);

  --skeleton-padding-button-small: var(--skeleton-size-radius-button);
  --skeleton-padding-button-medium: var(--skeleton-size-radius-button);
  --skeleton-padding-button-large: var(--skeleton-size-radius-button);

  --skeleton-size-text-menu-toggle-button: var(--skeleton-size-text-small);
  --skeleton-size-text-button-medium: var(--skeleton-size-text-normal);
  --skeleton-size-text-button-large: var(--skeleton-size-text-med);
  --skeleton-size-text-button-small: var(--skeleton-size-text-small);

  --skeleton-color-button-primary-default: var(--skeleton-color-violet-055);
  --skeleton-color-button-primary-hover: var(--skeleton-color-violet-065);
  --skeleton-color-button-primary-focus: var(--skeleton-color-violet-065);
  --skeleton-color-button-primary-active: var(--skeleton-color-violet-075);

  --skeleton-color-button-secondary-default: var(--skeleton-color-pink-050);
  --skeleton-color-button-secondary-hover: var(--skeleton-color-pink-070);
  --skeleton-color-button-secondary-focus: var(--skeleton-color-pink-070);
  --skeleton-color-button-secondary-active: var(--skeleton-color-pink-080);

  --skeleton-color-button-disabled: var(--skeleton-color-gray-040);
  --skeleton-color-fg-button-disabled: var(--skeleton-color-gray-080);

  --skeleton-color-fg-button-primary-default: var(--skeleton-color-fg-white-static);
  --skeleton-color-fg-button-primary-hover: var(--skeleton-color-fg-white-static);
  --skeleton-color-fg-button-primary-focus: var(--skeleton-color-fg-white-static);
  --skeleton-color-fg-button-primary-active: var(--skeleton-color-fg-white-static);

  --skeleton-color-fg-button-secondary-default: var(--skeleton-color-fg-black-static);
  --skeleton-color-fg-button-secondary-hover: var(--skeleton-color-fg-black-static);
  --skeleton-color-fg-button-secondary-focus: var(--skeleton-color-fg-black-static);
  --skeleton-color-fg-button-secondary-active: var(--skeleton-color-fg-black-static);

  --skeleton-color-fg-button-ghost-default: var(--skeleton-color-fg-base);
  --skeleton-color-fg-button-ghost-hover: var(--skeleton-color-fg-base);
  --skeleton-color-fg-button-ghost-focus: var(--skeleton-color-fg-base);
  --skeleton-color-fg-button-ghost-active: var(--skeleton-color-fg-base);
}

/*** Button Styles ***/
.button {
  --skeleton-size-block-button: var(--skeleton-size-block-button-medium);

  z-index: 1;
  position: relative;
  padding-inline: var(--skeleton-padding-button-medium);

  max-inline-size: 100%;
  block-size: var(--skeleton-size-block-button);
  inline-size: auto;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: var(--skeleton-size-md-gap-button);

  border: var(--skeleton-size-border-button) solid transparent;
  outline: none;
  border-radius: var(--skeleton-size-radius-button);

  transition: var(--skeleton-transition-basic);
  cursor: pointer;

  font-family: var(--skeleton-font-primary);
  font-size: var(--skeleton-size-text-button-medium);
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0.5px;
  color: var(--skeleton-color-fg-button-primary-default);
  text-align: center;
  text-transform: none;
  text-decoration: none;
  text-transform: uppercase;
  background-color: var(--skeleton-color-button-primary-default);

  /*** Focus Indicator ***/
  &::after {
    position: absolute;
    margin: auto;
    content: "";
    left: 0;
    top: 0;

    z-index: -1;

    inline-size: calc(100% + (var(--skeleton-size-gap-focus-indicator) * 2) + (var(--skeleton-size-border-button) * 2));
    block-size: calc(100% + (var(--skeleton-size-gap-focus-indicator) * 2) + (var(--skeleton-size-border-button) * 2));

    margin-block-start: calc((var(--skeleton-size-gap-focus-indicator) + var(--skeleton-size-focus-indicator) + var(--skeleton-size-border-button)) * -1);
    margin-inline-start: calc((var(--skeleton-size-gap-focus-indicator) + var(--skeleton-size-focus-indicator) + var(--skeleton-size-border-button)) * -1);

    border-width: var(--skeleton-size-focus-indicator);
    border-style: solid;
    border-color: var(--skeleton-color-focus-indicator);
    opacity: 0;

    border-radius: calc(var(--skeleton-size-radius-button) + var(--skeleton-size-gap-focus-indicator) + var(--skeleton-size-border-button));
  }

  &__text {}

  /*** Child Icon ***/
  &__icon {
    display: flex;
    block-size: calc(var(--skeleton-size-block-button) * 0.5);
    inline-size: auto;
    font-size: inherit;
    color: inherit;

    svg {
      transition: var(--skeleton-transition-basic);

      path {
        fill: currentcolor;
      }
    }
  }

  /*** State: Hover ***/
  &:hover,
  &.hover {
    background-color: var(--skeleton-color-button-primary-hover);
    color: var(--skeleton-color-fg-button-primary-hover);
  }

  /*** State: Focus ***/
  &:focus:not(:focus-visible),
  &.focus:not(.focus-visible) {
    &::after {
      opacity: 1;
    }
  }

  &:focus,
  &.focus,
  &:focus-visible,
  &.focus-visible {
    background-color: var(--skeleton-color-button-primary-focus);
    color: var(--skeleton-color-fg-button-primary-focus);
    box-shadow: none;

    &::after {
      border-color: var(--skeleton-color-focus-indicator);
      opacity: 1;
    }
  }

  /*** State: Active ***/
  &:active,
  &.active,
  &:focus:active,
  &.focus.active,
  &:focus-visible:active,
  &.focus-visible.active {
    background-color: var(--skeleton-color-button-primary-active);
    color: var(--skeleton-color-fg-button-primary-active);
  }

  /*** prevent focus from firing on click ***/
  &:-webkit-focus-ring {
    outline: none;
  }

  /*** Variant - secondary ***/
  &--secondary {
    background-color: var(--skeleton-color-button-secondary-default);
    color: var(--skeleton-color-fg-button-secondary-default);

    &:hover,
    &.hover {
      background-color: var(--skeleton-color-button-secondary-hover);
      color: var(--skeleton-color-fg-button-secondary-hover);
    }

    &:focus,
    &.focus,
    &:focus-visible,
    &.focus-visible {
      background-color: var(--skeleton-color-button-secondary-focus);
      color: var(--skeleton-color-fg-button-secondary-focus);
    }

    &:active,
    &.active,
    &:focus:active,
    &.focus.active {
      background-color: var(--skeleton-color-button-secondary-active);
      color: var(--skeleton-color-fg-button-secondary-active);
    }
  }

  /*** Variant - ghost ***/
  &--ghost,
  &--empty {
    background-color: transparent;
    border: var(--skeleton-size-border-button) solid var(--skeleton-color-button-secondary-default);
    color: var(--skeleton-color-fg-button-ghost-default);

    &:hover,
    &.hover {
      background-color: transparent;
      border-color: var(--skeleton-color-button-secondary-hover);
      color: var(--skeleton-color-fg-button-ghost-hover);
    }

    &:focus,
    &.focus,
    &:focus-visible,
    &.focus-visible {
      background-color: transparent;
      border-color: var(--skeleton-color-button-secondary-focus);
      color: var(--skeleton-color-fg-button-ghost-focus);
    }

    &:active,
    &.active,
    &:focus:active,
    &.focus.active {
      background-color: transparent;
      border-color: var(--skeleton-color-button-secondary-active);
      color: var(--skeleton-color-fg-button-ghost-active);
    }
  }

  &--empty {
    border: var(--skeleton-size-border-button) solid transparent;
  }

  &--disabled {
    background-color: var(--skeleton-color-button-disabled);
    color: var(--skeleton-color-fg-button-disabled);
    pointer-events: none;

    &:hover,
    &:focus,
    &:focus-visible,
    &:active {
      background-color: var(--skeleton-color-button-disabled);
    }
  }

  /*** Variant - circle icon only ***/
  &--icon-only {
    border-radius: 100%;
    /* block-size: var(--skeleton-size-block-button);
    inline-size: var(--skeleton-size-block-button); */
    /* max-inline-size: var(--skeleton-size-block-button);
    max-block-size: var(--skeleton-size-block-button); */
    inline-size: var(--skeleton-size-block-button);
    padding: 0;

    &::after {
      border-radius: 100%;
    }

    .button__content {
      position: absolute;
      overflow: hidden;
      clip: rect(0, 0, 0, 0);
      white-space: nowrap;
    }
  }

  /*** Variant - small ***/
  &--sizeS {
    --skeleton-size-block-button: var(--skeleton-size-block-button-small);

    font-size: var(--skeleton-size-text-button-small);
    padding-inline: var(--skeleton-padding-button-small);

    .button__icon {
      block-size: var(--skeleton-size-icon-button-small);
    }
  }

  /*** Variant - medium - default ***/
  &--sizeM {
    --skeleton-size-block-button: var(--skeleton-size-block-button-medium);

    font-size: var(--skeleton-size-text-button-medium);
    padding-inline: var(--skeleton-size-radius-button);

    .button__icon {
      block-size: var(--skeleton-size-icon-button-medium);
    }
  }

  /*** Variant - large ***/
  &--sizeL {
    --skeleton-size-block-button: var(--skeleton-size-block-button-large);

    font-size: var(--skeleton-size-text-button-large);
    padding-inline: var(--skeleton-padding-button-large);
    border-radius: calc(var(--skeleton-size-radius-button) * 1.5);

    .button__icon {
      block-size: var(--skeleton-size-icon-button-large);
    }
  }


  &--menu-toggle {
    z-index: 9;
    padding-block: calc(var(--skeleton-size-radius-button) * 0.5);
    block-size: calc(var(--skeleton-size-block-button) * 1.5);

    span {
      font-size: inherit;
    }

    &:hover,
    &:focus {
      border-color: transparent;
    }

    .button__icon {
      content: url("../../../assets/icons/svgs/solid/bars.svg");
      filter: invert(1);

      svg path {
        fill: currentcolor;
      }
    }

    .button__content {
      font-size: var(--skeleton-size-text-menu-toggle-button);
      display: flex;
      flex-direction: column-reverse;
      justify-content: center;
      gap: 0.25rem;
    }

    /* menu is closed */
    .close-text {
      display: none;
    }

    .open-text {
      display: block;
    }

    &.closed {
      .button__icon {
        content: url("../../../assets/icons/svgs/solid/bars.svg");
      }
    }

    /* menu is opened */
    &.open {

      .button__icon {
        content: url("../../../assets/icons/svgs/solid/x.svg");
      }

      .close-text {
        display: block
      }

      .open-text {
        display: none;
      }
    }
  }
}
