/*** Button Variables ***/
.button {
  --skeleton-size-block-button-medium: 40px;
  --skeleton-size-block-button-small: 30px;
  --skeleton-size-block-button-large: 60px;
  
  --skeleton-size-icon-button-small: 14px;
  --skeleton-size-icon-button-medium: 20px;
  --skeleton-size-icon-button-large: 30px;
  
  --skeleton-size-md-gap-button: .75rem;
  --skeleton-size-sm-gap-button: 0.25rem;
  --skeleton-size-border-button: 1.5px;
  --skeleton-size-radius-button: calc(var(--skeleton-size-block-button) * 0.5);
  
  --skeleton-padding-button-small: var(--skeleton-size-radius-button);
  --skeleton-padding-button-medium: var(--skeleton-size-radius-button);
  --skeleton-padding-button-large: var(--skeleton-size-radius-button);
  
  --skeleton-size-text-menu-toggle-button: var(--skeleton-size-text-small);
  --skeleton-size-text-button-medium: var(--skeleton-size-text-normal);
  --skeleton-size-text-button-large: var(--skeleton-size-text-med);
  --skeleton-size-text-button-small: var(--skeleton-size-text-small);
  
  --skeleton-color-button-primary-default: var(--skeleton-color-violet-055);
  --skeleton-color-button-primary-hover: var(--skeleton-color-violet-065);
  --skeleton-color-button-primary-focus: var(--skeleton-color-violet-065);
  --skeleton-color-button-primary-active: var(--skeleton-color-violet-075);
  
  --skeleton-color-button-secondary-default: var(--skeleton-color-pink-050);
  --skeleton-color-button-secondary-hover: var(--skeleton-color-pink-070);
  --skeleton-color-button-secondary-focus: var(--skeleton-color-pink-070);
  --skeleton-color-button-secondary-active: var(--skeleton-color-pink-080);
  
  --skeleton-color-button-disabled: var(--skeleton-color-gray-040);
  --skeleton-color-fg-button-disabled: var(--skeleton-color-gray-080);
  
  --skeleton-color-fg-button-primary-default: var(--skeleton-color-fg-white-static);
  --skeleton-color-fg-button-primary-hover: var(--skeleton-color-fg-white-static);
  --skeleton-color-fg-button-primary-focus: var(--skeleton-color-fg-white-static);
  --skeleton-color-fg-button-primary-active: var(--skeleton-color-fg-white-static);
  
  --skeleton-color-fg-button-secondary-default: var(--skeleton-color-fg-black-static);
  --skeleton-color-fg-button-secondary-hover: var(--skeleton-color-fg-black-static);
  --skeleton-color-fg-button-secondary-focus: var(--skeleton-color-fg-black-static);
  --skeleton-color-fg-button-secondary-active: var(--skeleton-color-fg-black-static);
  
  --skeleton-color-fg-button-ghost-default: var(--skeleton-color-fg-base);
  --skeleton-color-fg-button-ghost-hover: var(--skeleton-color-fg-base);
  --skeleton-color-fg-button-ghost-focus: var(--skeleton-color-fg-base);
  --skeleton-color-fg-button-ghost-active: var(--skeleton-color-fg-base);
}
/*** Button Styles ***/
.button {
  --skeleton-size-block-button: var(--skeleton-size-block-button-medium);
  
  z-index: 1;
  position: relative;
  padding-inline: var(--skeleton-padding-button-medium);
  
  max-inline-size: 100%;
  block-size: var(--skeleton-size-block-button);
  inline-size: auto;
  
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: var(--skeleton-size-md-gap-button);
  
  border: var(--skeleton-size-border-button) solid transparent;
  outline: none;
  border-radius: var(--skeleton-size-radius-button);
  
  transition: var(--skeleton-transition-basic);
  cursor: pointer;
  
  font-family: var(--skeleton-font-primary);
  font-size: var(--skeleton-size-text-button-medium);
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0.5px;
  color: var(--skeleton-color-fg-button-primary-default);
  text-align: center;
  text-transform: none;
  text-decoration: none;
  text-transform: uppercase;
  background-color: var(--skeleton-color-button-primary-default);
}
/*** Focus Indicator ***/
.button::after {
    position: absolute;
    margin: auto;
    content: "";
    left: 0;
    top: 0;
    
    z-index: -1;
    
    inline-size: calc(100% + (var(--skeleton-size-gap-focus-indicator) * 2) + (var(--skeleton-size-border-button) * 2));
    block-size: calc(100% + (var(--skeleton-size-gap-focus-indicator) * 2) + (var(--skeleton-size-border-button) * 2));
    
    margin-block-start: calc((var(--skeleton-size-gap-focus-indicator) + var(--skeleton-size-focus-indicator) + var(--skeleton-size-border-button)) * -1);
    margin-inline-start: calc((var(--skeleton-size-gap-focus-indicator) + var(--skeleton-size-focus-indicator) + var(--skeleton-size-border-button)) * -1);
    
    border-width: var(--skeleton-size-focus-indicator);
    border-style: solid;
    border-color: var(--skeleton-color-focus-indicator);
    opacity: 0;
    
    border-radius: calc(var(--skeleton-size-radius-button) + var(--skeleton-size-gap-focus-indicator) + var(--skeleton-size-border-button));
  }
.button__text {}
/*** Child Icon ***/
.button__icon {
    display: flex;
    block-size: calc(var(--skeleton-size-block-button) * 0.5);
    inline-size: auto;
    font-size: inherit;
    color: inherit;
  }
.button__icon svg {
      transition: var(--skeleton-transition-basic);
    }
.button__icon svg path {
        fill: currentcolor;
      }
/*** State: Hover ***/
.button:hover,
  .button.hover {
    background-color: var(--skeleton-color-button-primary-hover);
    color: var(--skeleton-color-fg-button-primary-hover);
  }
/*** State: Focus ***/
.button:focus:not(:focus-visible)::after, .button.focus:not(.focus-visible)::after {
      opacity: 1;
    }
.button:focus,
  .button.focus,
  .button:focus-visible,
  .button.focus-visible {
    background-color: var(--skeleton-color-button-primary-focus);
    color: var(--skeleton-color-fg-button-primary-focus);
    box-shadow: none;
  }
.button:focus::after, .button.focus::after, .button:focus-visible::after, .button.focus-visible::after {
      border-color: var(--skeleton-color-focus-indicator);
      opacity: 1;
    }
/*** State: Active ***/
.button:active,
  .button.active,
  .button:focus:active,
  .button.focus.active,
  .button:focus-visible:active,
  .button.focus-visible.active {
    background-color: var(--skeleton-color-button-primary-active);
    color: var(--skeleton-color-fg-button-primary-active);
  }
/*** prevent focus from firing on click ***/
.button:-webkit-focus-ring {
    outline: none;
  }
/*** Variant - secondary ***/
.button--secondary {
    background-color: var(--skeleton-color-button-secondary-default);
    color: var(--skeleton-color-fg-button-secondary-default);
  }
.button--secondary:hover,
    .button--secondary.hover {
      background-color: var(--skeleton-color-button-secondary-hover);
      color: var(--skeleton-color-fg-button-secondary-hover);
    }
.button--secondary:focus,
    .button--secondary.focus,
    .button--secondary:focus-visible,
    .button--secondary.focus-visible {
      background-color: var(--skeleton-color-button-secondary-focus);
      color: var(--skeleton-color-fg-button-secondary-focus);
    }
.button--secondary:active,
    .button--secondary.active,
    .button--secondary:focus:active,
    .button--secondary.focus.active {
      background-color: var(--skeleton-color-button-secondary-active);
      color: var(--skeleton-color-fg-button-secondary-active);
    }
/*** Variant - ghost ***/
.button--ghost,
  .button--empty {
    background-color: transparent;
    border: var(--skeleton-size-border-button) solid var(--skeleton-color-button-secondary-default);
    color: var(--skeleton-color-fg-button-ghost-default);
  }
.button--ghost:hover,
    .button--ghost.hover,
    .button--empty:hover,
    .button--empty.hover {
      background-color: transparent;
      border-color: var(--skeleton-color-button-secondary-hover);
      color: var(--skeleton-color-fg-button-ghost-hover);
    }
.button--ghost:focus,
    .button--ghost.focus,
    .button--ghost:focus-visible,
    .button--ghost.focus-visible,
    .button--empty:focus,
    .button--empty.focus,
    .button--empty:focus-visible,
    .button--empty.focus-visible {
      background-color: transparent;
      border-color: var(--skeleton-color-button-secondary-focus);
      color: var(--skeleton-color-fg-button-ghost-focus);
    }
.button--ghost:active,
    .button--ghost.active,
    .button--ghost:focus:active,
    .button--ghost.focus.active,
    .button--empty:active,
    .button--empty.active,
    .button--empty:focus:active,
    .button--empty.focus.active {
      background-color: transparent;
      border-color: var(--skeleton-color-button-secondary-active);
      color: var(--skeleton-color-fg-button-ghost-active);
    }
.button--empty {
    border: var(--skeleton-size-border-button) solid transparent;
  }
.button--disabled {
    background-color: var(--skeleton-color-button-disabled);
    color: var(--skeleton-color-fg-button-disabled);
    pointer-events: none;
  }
.button--disabled:hover,
    .button--disabled:focus,
    .button--disabled:focus-visible,
    .button--disabled:active {
      background-color: var(--skeleton-color-button-disabled);
    }
/*** Variant - circle icon only ***/
.button--icon-only {
    border-radius: 100%;
    inline-size: var(--skeleton-size-block-button);
    padding: 0;
  }
.button--icon-only::after {
      border-radius: 100%;
    }
.button--icon-only .button__content {
      position: absolute;
      overflow: hidden;
      clip: rect(0, 0, 0, 0);
      white-space: nowrap;
    }
/*** Variant - small ***/
.button--sizeS {
    --skeleton-size-block-button: var(--skeleton-size-block-button-small);
    
    font-size: var(--skeleton-size-text-button-small);
    padding-inline: var(--skeleton-padding-button-small);
  }
.button--sizeS .button__icon {
      block-size: var(--skeleton-size-icon-button-small);
    }
/*** Variant - medium - default ***/
.button--sizeM {
    --skeleton-size-block-button: var(--skeleton-size-block-button-medium);
    
    font-size: var(--skeleton-size-text-button-medium);
    padding-inline: var(--skeleton-size-radius-button);
  }
.button--sizeM .button__icon {
      block-size: var(--skeleton-size-icon-button-medium);
    }
/*** Variant - large ***/
.button--sizeL {
    --skeleton-size-block-button: var(--skeleton-size-block-button-large);
    
    font-size: var(--skeleton-size-text-button-large);
    padding-inline: var(--skeleton-padding-button-large);
    border-radius: calc(var(--skeleton-size-radius-button) * 1.5);
  }
.button--sizeL .button__icon {
      block-size: var(--skeleton-size-icon-button-large);
    }
.button--menu-toggle {
    z-index: 9;
    padding-block: calc(var(--skeleton-size-radius-button) * 0.5);
    block-size: calc(var(--skeleton-size-block-button) * 1.5);
    font-size: var(--skeleton-size-text-button-small);
  }
/* positioning in branding header */
.branding .button--menu-toggle {
      margin-block: auto;
      margin-inline-end: 0;
      margin-inline-start: auto;
    }
.button--menu-toggle span {
      font-size: inherit;
    }
.button--menu-toggle:hover,
    .button--menu-toggle:focus {
      border-color: transparent;
    }
.button--menu-toggle .button__icon {
      content: url("../../../assets/icons/svgs/solid/bars.svg");
      filter: invert(1);
      block-size: var(--skeleton-size-icon-button-large);
    }
.button--menu-toggle .button__icon svg path {
        fill: currentcolor;
      }
.button--menu-toggle .button__content {
      display: flex;
      flex-direction: column-reverse;
      justify-content: center;
      gap: 0.25rem;
    }
/* menu is closed */
.button--menu-toggle .close-text {
      display: none;
    }
.button--menu-toggle .open-text {
      display: block;
    }
.button--menu-toggle.closed .button__icon {
        content: url("../../../assets/icons/svgs/solid/bars.svg");
      }
/* menu is opened */
.button--menu-toggle.open .button__icon {
        content: url("../../../assets/icons/svgs/solid/x.svg");
      }
.button--menu-toggle.open .close-text {
        display: block
      }
.button--menu-toggle.open .open-text {
        display: none;
      }