/*** author Variables ***/
.author {
  --skeleton-size-text-author: var(--skeleton-size-text-small);
}

/*** author Styles ***/
.author {
  font-size: var(--skeleton-size-text-author);
  font-weight: 500;
}
