{%
  set classes = [
    'author'
  ]
%}

{% if is_link %}
  <a{{ attributes.addClass(classes) }}>
{% else %}
  <span{{ attributes.addClass(classes) }}>
{% endif %}

  {{ content }}

{% if is_link %}
  </a>
{% else %}
  </span>
{% endif %}
