{%
  set classes = [
    'author'
  ]
%}

{% if url or attributes.href %}
  {% set attributes = attributes.setAttribute('href', url) %}
{% endif %}

{% if is_link %}
  <a{{ attributes.addClass(classes) }}>
{% else %}
  <span{{ attributes.addClass(classes) }}>
{% endif %}

  {{ content }}

{% if is_link %}
  </a>
{% else %}
  </span>
{% endif %}
