/*** author Variables ***/
.author {
  --skeleton-color-fg-author: var(--skeleton-color-fg-base);
  --skeleton-size-text-author: var(--skeleton-size-text-small);
}

/*** author Styles ***/
.author {
  color: var(--skeleton-color-fg-author);
  font-size: var(--skeleton-size-text-author);
  font-weight: 500;
}