.file {
  position: relative;
  padding: 1.25rem 1.5rem;
  margin: 1.5rem;
  background-color: var(--skeleton-color-bg-neutral-light);
  border-radius: var(--skeleton-size-radius-sm);
  
  &__label {
    margin-block: 0 0.5rem;
    font-size: var(--skeleton-size-text-lrg);
    font-weight: 600;
    display: inline;
  }
  
  &__size {
    font-size: var(--skeleton-size-text-small);
    line-height: 1.6;
    color: var(--skeleton-color-fg-subdued);
    display: inline;
  }
  
  &__summary {
    font-size: var(--skeleton-size-text-small);
    line-height: 1.6;
    color: var(--skeleton-color-fg-base);
    margin-block-start: 0.5rem;
  }
  
  &__icon {
    color: var(--skeleton-color-fg-primary);
    display: inline;
  }
  
  /*** Types ***/
  /* &--file {
    .icon {
      color: red;
    }
  }

  &--pdf {
    .icon {
      color: blue;
    }
  }

  &--zip {
    .icon {
      color: lime;
    }
  }

  &--image {
    .icon {
      color: mediumorchid;
    }
  } */
}