/*** Title Variables ***/
.title {
  --skeleton-flag-height-title: 12px;
  --skeleton-notch-calc-title: calc(100% - var(--skeleton-flag-height-title));

  --skeleton-size-accent-title-block: 9px;
  --skeleton-size-accent-title-card: 6px;

  --skeleton-color-accent-title: var(--skeleton-color-border-primary);
  --skeleton-size-gap-x-title: var(--skeleton-size-gap-x);
  --skeleton-border-radius-card-title: var(--skeleton-size-radius-sm);

  --skeleton-size-font-small-title: var(--skeleton-size-text-small);
  --skeleton-size-font-medium-title: var(--skeleton-size-text-med);
  --skeleton-size-font-large-title: var(--skeleton-size-text-lrg);
  --skeleton-size-font-extra-large-title: var(--skeleton-size-text-ex-lrg);
}
/*** Title Styles ***/
.title {
  font-weight: 700;
  font-style: normal;
  font-optical-sizing: auto;
  margin-block-start: 0;
  margin-block-end: 0.5rem;
}
/*** Variant - Page Title ***/
.title--page {
    /* margin-block-end: 2rem; */
  }
.title--feature-page {
    margin-block-start: 2rem;
  }
/*** Variant - Section Title ***/
.title--section {
    position: relative;
    display: block;
    padding-block-start: 1.5rem;
    margin-block-start: 1.5rem;
  }
.title--section::before {
      content: "";
      width: 5rem;
      height: var(--skeleton-flag-height-title);
      position: absolute;
      top: 0;
      left: 0;
      background-color: var(--skeleton-color-accent-title);
      transform: translateX(calc((var(--skeleton-flag-height-title) + var(--skeleton-size-gap-x-title)) * -1));
      overflow: hidden;
      border-end-end-radius: var(--skeleton-flag-height-title);
      border-start-start-radius: var(--skeleton-flag-height-title);
    }
/*** Variant - Block Title ***/
.title--block {
    position: relative;
    display: block;
    margin: 0;
    margin-block-end: 0.5rem;
    padding-block-start: 2rem;
    padding-inline-start: 1.5rem;
  }
.title--block::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: var(--skeleton-size-accent-title-block);
      background-color: var(--skeleton-color-accent-title);
      border-radius: calc(var(--skeleton-size-accent-title-block) * 0.5);
    }
/*** Variant - Card Title ***/
.title--card {
    position: relative;
    display: block;
    margin: 0;
    padding-inline-start: 1rem;
  }
.title--card::before {
      content: "";
      width: var(--skeleton-size-accent-title-card);
      height: 100%;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      background-color: var(--skeleton-color-accent-title);
      overflow: hidden;
      border-radius: var(--skeleton-border-radius-card-title);
    }
.title--alert {
    margin: 0;
  }
/*** Variant - Menu Title ***/
.title--menu {
    margin-block: 2rem;
  }
/*** Variant - Sizes ***/
.title--sizeS {
    font-size: var(--skeleton-size-font-small-title);
  }
.title--sizeM {
    font-size: var(--skeleton-size-font-medium-title);
  }
.title--sizeL {
    font-size: var(--skeleton-size-font-large-title);
  }
.title--sizeXL {
    font-size: var(--skeleton-size-font-extra-large-title);
  }
