  :root {
    
    /* on skeleton-color-bg-primary */
    div[class*="theme-primary"],
    nav[class*="theme-primary"],
    .theme-primary,
    .bg-primary {
      --skeleton-color-fg-base: var(--skeleton-color-white);
      --skeleton-color-fg-inverted: var(--skeleton-color-black);
      --skeleton-color-fg-subdued: var(--skeleton-color-gray-060);
      --skeleton-color-fg-disabled: var(--skeleton-color-gray-050);
      
      /*** Foreground - Brand ***/
      --skeleton-color-fg-primary: var(--skeleton-color-violet-040);
      --skeleton-color-fg-primary-inverted: var(--skeleton-color-violet-080);
      
      /*** System accent color ***/
      --skeleton-color-accent: var(--skeleton-color-violet-070);
      
      /*** Actions - Link Text - copied from light mode, inverted background ***/
      --skeleton-color-fg-action-default: var(--skeleton-color-violet-090);
      --skeleton-color-fg-action-hover: var(--skeleton-color-teal-090);
      --skeleton-color-fg-action-focus: var(--skeleton-color-teal-090);
      --skeleton-color-fg-action-active: var(--skeleton-color-violet-060);
      --skeleton-color-fg-action-visited: var(--skeleton-color-fg-base);
      --skeleton-color-fg-action-decoration: var(--skeleton-color-teal-080);
      --skeleton-color-fg-action-decoration-hover: var(--skeleton-color-violet-090);
      
      /*** Change neutral backgrounds so text of components is legible ***/
      /*** Background - Neutral ***/
      --skeleton-color-bg-neutral: var(--skeleton-color-violet-020);
      --skeleton-color-bg-neutral-subdued: var(--skeleton-color-violet-030);
      --skeleton-color-bg-neutral-extra-subdued: var(--skeleton-color-violet-040);
      
      /*** Borders - Neutral ***/
      --skeleton-color-border-neutral: var(--skeleton-color-violet-080);
      --skeleton-color-border-neutral-subdued: var(--skeleton-color-violet-070);
      --skeleton-color-border-neutral-extra-subdued: var(--skeleton-color-violet-060);
    }
  }